# Object files used during building.
build/

# The built library.
library.lib

# Build dependencies.
dependencies.json

# All third party files.
public/

# Code that exists in another git repository.
third_party/

# A list of third party files in public/ and source/.
third_party_files.json