set timeout=3
set default=0

menuentry "Perception" {
 	insmod all_video
	multiboot2 /Applications/Kernel/Kernel.app
	# Rather than 'auto', you can specify a resolution with 'widthxheightxdepth'.
	# You can call `insmod all_video` followed by `videoinfo` on the GRUB command
	# line to find out what video modes are supported.
    set gfxpayload=auto
    # Essential services
    module2 /Applications/Device\ Manager/Device\ Manager.app d Device Manager
    module2 /Applications/Window\ Manager/Window\ Manager.app - Window Manager
    module2 /Applications/Storage\ Manager/Storage\ Manager.app - Storage Manager
    module2 /Applications/Font\ Manager/Font\ Manager.app - Font Manager
    module2 /Applications/Loader/Loader.app l Loader

    # Essential drivers needed to load other things off disk:
    module2 /Applications/IDE\ Controller/IDE\ Controller.app d IDE Controller

    # The launcher.
    module2 /Applications/Launcher/Launcher.app - Launcher
    module2 /Applications/Calculator/Calculator.app - Calculator

    # Shared libraries needed for the above.
    module2 /Libraries/facebook\ yoga/libfacebook\ yoga.so - libfacebook yoga.so
    module2 /Libraries/fontconfig/libfontconfig.so - libfontconfig.so
    module2 /Libraries/freetype/libfreetype.so - libfreetype.so
    module2 /Libraries/gnome\ libxml2/libgnome\ libxml2.so - libgnome libxml2.so
    module2 /Libraries/google\ skia/libgoogle\ skia.so - libgoogle skia.so
    module2 /Libraries/harfbuzz\ icu-le-hb/libharfbuzz\ icu-le-hb.so - libharfbuzz icu-le-hb.so
    module2 /Libraries/harfbuzz/libharfbuzz.so - libharfbuzz.so
    module2 /Libraries/libcxx/liblibcxx.so - liblibcxx.so
    module2 /Libraries/libexpat/liblibexpat.so - liblibexpat.so
    module2 /Libraries/libjpeg-turbo/liblibjpeg-turbo.so - liblibjpeg-turbo.so
    module2 /Libraries/Linux\ System\ Call\ Shim/libLinux\ System\ Call\ Shim.so - libLinux System Call Shim.so
    module2 /Libraries/LLVM\ Compiler-RT/libLLVM\ Compiler-RT.so - libLLVM Compiler-RT.so
    module2 /Libraries/madler\ zlib/libmadler\ zlib.so - libmadler zlib.so
    module2 /Libraries/musl/libmusl.so - libmusl.so
    module2 /Libraries/Perception\ Driver/libPerception\ Driver.so - libPerception Driver.so
    module2 /Libraries/Perception\ UI/libPerception\ UI.so - libPerception UI.so
    module2 /Libraries/Perception\ Window/libPerception\ Window.so - libPerception Window.so
    module2 /Libraries/perception/libperception.so - libperception.so
    module2 /Libraries/richgel999\ fpng/librichgel999\ fpng.so - librichgel999 fpng.so
    module2 /Libraries/unicode-org\ icu/libunicode-org\ icu.so - libunicode-org icu.so
}
